.App {
  max-width: 600px;
  margin: 10px auto;
}
h1 {
  text-align: center;
}
h2 {
  margin: 8px;
  width: 180px;
  text-align: center;
}
.row {
  display: flex;
  justify-content: center;
}
.placeholder {
  width: 180px;
  height: 66px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: burlywood;
  border: 1px solid blue;
  border-radius: 5px;
  margin: 6px;
}
.store {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}
.verb {
  width: 180px;
  height: 66px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: orange;
  border: 1px solid orangered;
  border-radius: 5px;
  margin: 6px;
  cursor: pointer;
}
.my-button {
  margin: 30px auto;
  display: block;
  font-size: 20px;
  text-align: center;
  width: 180px;
  height: 66px;
  background-color: yellowgreen;
  border-radius: 5px;
  border: 1px solid goldenrod;
  color: black;
}
